<%- layout("/layouts/boilerplate") %>

<body>
    <div class="row my-4">
        <div class="alert alert-danger col-12 text-center">
            <h4>Error <%= statusCode %></h4>
            <p><%= message  %></p>
        </div>
    </div>
</body>