<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Place</title>
</head>
<body>
    <h2>Add new Place</h2>
    <form action="/listings" method="post">
        <input type="text" name="title" placeholder="Enter Title">
        <br>
        <br>
        <textarea name="description" cols="30" rows="10" placeholder="Enter Description"></textarea>
        <br>
        <br>
        <input type="text" name="image" placeholder="Enter image url">
        <br>
        <br>
        <input type="text" name="price" placeholder="Enter Price">
        <br>
        <br>
        <input type="text" name="location" placeholder="Enter Location">
        <br>
        <br>
        <input type="text" name="country" placeholder="Enter Country">
        <br>
        <br>
        <button>Add Place</button>
    </form>
</body>
</html>